.git-finder_main-section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.git-finder-search-section-modal {
    display: flex;
    flex-direction: row;
}

.git-finder-search-section>input {
    /* height: 5px; */
    padding: 0.65rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    border: rgb(6, 94, 116) 2px solid;

}

.git-finder-search-section>button {
    padding: 0.77rem 2rem;
    cursor: pointer;
    background-color: blue;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    color: whitesmoke;
    border-left: none;
}

.git-finder-search-section>button:hover {
    background-color: rgb(2, 2, 88);
}

.git-finder-search-section>input:focus {
    outline: none;
    border: rgb(6, 94, 116) 2px solid;
    font-size: 0.88rem;
}

.git-user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 0.3rem;
    border: rgb(6, 94, 116) 5px solid;
    box-shadow: 2px 0px 8px;
    padding: 1rem 2rem 0rem 2rem;
    min-height: 400px;
    margin-top: 1rem;

}

@media(min-width: 600px) {
    .git-user-profile {
        width: 500px;
        margin-top: 0rem;
    }
}

.profiler {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 0px;

}

.profiler>img {
    width: 150px;
    border: 2px solid rgb(62, 24, 201);
    border-radius: 50%;
    align-self: center;
    margin-bottom: 1rem;
}

.profiler>p {
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

span {
    margin-left: 1rem;
    font-weight: lighter;
}

.no-user_found {
    align-self: center;
    justify-self: center;
}
.empty-search {
    text-align: center;
}
.general-section {
    display: flex;
    flex-direction: column;
    gap: 0rem;

}
.testing-main {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 4rem;
    margin-bottom: 0px;
    background-color: azure;
    box-shadow: 0px 5px 2px rgb(36, 24, 65);
}

@media(max-width: 400px) {
    .testing-main {
        padding: 1.2rem;
    }
}

.testing-heading {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.testing-heading > h1, .testing-heading>p {
    margin: 0px;
}
.github-icon {
    font-size: 50px;
}